@model Vehicles.Model.Vehicle

@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>

    </dl>
</div>
